<?xml version='1.0' encoding='windows-1252'?>
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='bloom'
        UpgradeCode='E1373C7B-6230-408E-B325-066F02C6D249'
        Manufacturer='Marco Todorov'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Manufacturer='Marco Todorov'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes'/>

        <Icon Id='ProductICO' SourceFile='assets\logo\bloom.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='bloom'>
                    <Directory Id='Bin' Name='bin'>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='bloom.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\bloom.exe'
                                KeyPath='yes'/>
                        </Component>

                        <Component Id='Path' Guid='126F8F36-3676-4BEF-AA9D-ED3F67740684' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>

                        <Component Id='FileAssociations' Guid='*'>
                            <ProgId Id='bloom.image' Description='Image file' Advertise='no' Icon='exe0'>
                                <Extension Id='jpg'  ContentType='image/jpeg'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='jpeg' ContentType='image/jpeg'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='png'  ContentType='image/png'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='gif'  ContentType='image/gif'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='bmp'  ContentType='image/bmp'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='tif'  ContentType='image/tiff'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='tiff' ContentType='image/tiff'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='webp' ContentType='image/webp'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='avif' ContentType='image/avif'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='jxl'  ContentType='image/jxl'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='heic' ContentType='image/heic'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='heif' ContentType='image/heif'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='ico'  ContentType='image/x-icon'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='qoi'  ContentType='image/qoi'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='hdr'  ContentType='image/vnd.radiance'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='exr'  ContentType='image/x-exr'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='psd'  ContentType='image/vnd.adobe.photoshop'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                                <Extension Id='svg'  ContentType='image/svg+xml'><Verb Id='open' Command='Open' TargetFile='exe0' Argument='"%1"'/></Extension>
                            </ProgId>
                            <RegistryValue Root='HKLM' Key='Software\bloom' Name='fileassoc' Type='integer' Value='1' KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='bloom'>
                    <Component Id='ApplicationShortcut' Guid='*'>
                        <Shortcut
                            Id='ApplicationStartMenuShortcut'
                            Name='bloom'
                            Description='Image Viewer'
                            Target='[Bin]\bloom.exe'
                            WorkingDirectory='Bin'
                            Icon='ProductICO'/>
                        <RemoveFolder Id='CleanUpShortcut' On='uninstall'/>
                        <RegistryValue Root='HKLM' Key='Software\bloom' Name='installed' Type='integer' Value='1' KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='FileAssociations'/>
            <ComponentRef Id='ApplicationShortcut'/>
            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of the [ProductName] executable to the PATH system environment variable.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
        </UI>

    </Product>

</Wix>
