<?xml version='1.0' encoding='windows-1252'?>
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='bloom'
        UpgradeCode='E1373C7B-6230-408E-B325-066F02C6D249'
        Manufacturer='Marco Todorov'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Manufacturer='Marco Todorov'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes'/>

        <Icon Id='ProductICO' SourceFile='assets\logo\bloom.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='bloom'>
                    <Directory Id='Bin' Name='bin'>
                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='bloom.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\bloom.exe'
                                KeyPath='yes'/>
                        </Component>

                        <Component Id='Path' Guid='126F8F36-3676-4BEF-AA9D-ED3F67740684' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>

                        <Component Id='FileAssociations' Guid='*'>
                            <RegistryValue Id='regAssocHandler'     Root='HKLM' Key='Software\Classes\bloom.AssocFile'                                  Type='string'  Value='Image file'               KeyPath='yes'/>
                            <RegistryValue Id='regAssocIcon'        Root='HKLM' Key='Software\Classes\bloom.AssocFile\DefaultIcon'                       Type='string'  Value='"[Bin]bloom.exe",0'/>
                            <RegistryValue Id='regAssocCmd'         Root='HKLM' Key='Software\Classes\bloom.AssocFile\shell\open\command'                Type='string'  Value='"[Bin]bloom.exe" "%1"'/>
                            <RegistryValue Id='regExtJpg'           Root='HKLM' Key='Software\Classes\.jpg\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtJpeg'          Root='HKLM' Key='Software\Classes\.jpeg\OpenWithProgids'  Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtPng'           Root='HKLM' Key='Software\Classes\.png\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtGif'           Root='HKLM' Key='Software\Classes\.gif\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtBmp'           Root='HKLM' Key='Software\Classes\.bmp\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtTif'           Root='HKLM' Key='Software\Classes\.tif\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtTiff'          Root='HKLM' Key='Software\Classes\.tiff\OpenWithProgids'  Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtWebp'          Root='HKLM' Key='Software\Classes\.webp\OpenWithProgids'  Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtAvif'          Root='HKLM' Key='Software\Classes\.avif\OpenWithProgids'  Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtJxl'           Root='HKLM' Key='Software\Classes\.jxl\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtHeic'          Root='HKLM' Key='Software\Classes\.heic\OpenWithProgids'  Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtHeif'          Root='HKLM' Key='Software\Classes\.heif\OpenWithProgids'  Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtIco'           Root='HKLM' Key='Software\Classes\.ico\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtQoi'           Root='HKLM' Key='Software\Classes\.qoi\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtHdr'           Root='HKLM' Key='Software\Classes\.hdr\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtExr'           Root='HKLM' Key='Software\Classes\.exr\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtPsd'           Root='HKLM' Key='Software\Classes\.psd\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                            <RegistryValue Id='regExtSvg'           Root='HKLM' Key='Software\Classes\.svg\OpenWithProgids'   Name='bloom.AssocFile'      Type='string'  Value=''/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='bloom'>
                    <Component Id='ApplicationShortcut' Guid='*'>
                        <Shortcut
                            Id='ApplicationStartMenuShortcut'
                            Name='bloom'
                            Description='Image Viewer'
                            Target='[Bin]\bloom.exe'
                            WorkingDirectory='Bin'
                            Icon='ProductICO'/>
                        <RemoveFolder Id='CleanUpShortcut' On='uninstall'/>
                        <RegistryValue Id='regShortcut' Root='HKCU' Key='Software\bloom' Name='installed' Type='integer' Value='1' KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='FileAssociations'/>
            <ComponentRef Id='ApplicationShortcut'/>
            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of the [ProductName] executable to the PATH system environment variable.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
        </UI>

    </Product>

</Wix>
